/* COMPASS IMPORTS */

@import compass/reset
@import compass/utilities/general/
@import compass/css3/

/* LAYOUT */

body
  background-color: #e7e7de
  color: #3c3c3c
  font: 
    family: "proxima-nova", sans-serif
    size: 1em
  line-height: 150%

  #wrapper
    margin: 0 auto 0 auto
    width: 720px
    header
      nav
        +clearfix
        border-bottom: 1px solid #d2d2ca
        font:
          family: "Quicksand", sans-serif
          size: 95%
        margin: 0px 40px 0px 40px
        padding: 20px 0 5px 0
        width: 640px 
        ul
          float: left
          li
            display: inline
            margin-right: 12px
            text-transform: uppercase
            a
              border-bottom: none
              color: #444
            a:hover
              border-bottom: 2px solid #d2d2ca
              color: #000
        .rss
          float: right
          margin-top: 5px
          a
            img
              +opacity(0.5)
            border-bottom: none
          a:hover
            img
              +opacity(1)
              +transition-duration(1.2s)
      #categories
        float: right
        ul
          position: fixed
          top: 10px
          width: 140px
        li
          text-align: left
          a
            border-bottom: none
            .popup
              display: none
          a:hover
            .popup
              +border-radius(3px)
              background-color: #ecece4
              color: #3c3c3c
              display: block
              font-family: "Quicksand", sans-serif
              font-size: 75%
              float: right
              margin-top: 11px
              padding: 3px
              text-transform: uppercase

    section
      +border-radius(5px)
      background-color: #ecece4
      margin: 180px 40px 0px 40px
      padding: 40px

    article
      +clearfix
      h1
        font:
          family: "museo-slab", serif
          size: 3.8em
          weight: bold
        letter-spacing: -0.05em
        line-height: 110%
        margin-bottom: 30px
        text-shadow: 1px 1px 1px #fff
        a
          border-bottom: none
          color: #3c3c3c
        a:hover
          color: #000
      h2
        color: #666
        font-size: 160%
        margin-top: 50px
      .meta
        color: #999
        font-family: "museo-slab", serif
        time
          color: #666
      ul
        margin-top: 20px
      li
        margin: 0 0 20px 20px
      .about
        border: 2px solid #e0e0d8
        float: right
        margin-left: 20px
      .alt
        li
          border-bottom: 1px solid #d2d2ca
          margin-bottom: 20px
          margin-top: 20px
          padding-bottom: 20px
          padding-top: 20px
          margin-left: 0
          a
            border-bottom: none

    aside
      +clearfix
      border-top: 1px solid #d2d2ca
      margin-top: 40px
      padding-top: 20px
      p
        color: #676763
        font-weight: 300
        line-height: 130%
        margin: 0
        padding: 0
      a
        border-bottom: none
      a.jen
        background:
          image: url("/base/images/jen-sprite.png")
          position: 0px 0px
        border: 6px solid #e7e7de
        height: 110px
        float: left
        margin-right: 20px
        width: 110px
      a.jen:hover
        background-position: 0px -120px
        +transition-duration(1s)
      a.dot
        img
          +opacity(0.4)
      a:hover.dot
        img
          +opacity(1)
          +transition-duration(1.2s)
      ul
        margin-top: 0
        padding-top: 0
        li img
          border: none
          float: left
          margin: 0 20px 0 0
          padding: 0

    footer
      +clearfix
      border-top: 1px solid #d2d2ca
      color: #3c3c3c
      line-height: 140%
      font:
        family: "Quicksand", sans-serif
        size: 70%
      margin: 80px 40px 0px 40px
      text-align: center
      text-transform: uppercase
      a
        border-bottom: none
        font-weight: bold

/* TYPOGRAPHY */

strong
  font-weight: 700

p
  margin: 20px 0

h3
  font-family: "museo-slab"
  font-size: 130%
  margin-bottom: 10px

h4
  font-size: 100%

h5
  color: #999
  font-size: 90%
  letter-spacing: 1px
  margin-bottom: 5px
  text-transform: uppercase

.design
  color: #10a5b2
.coding
  color: #a5b210
.culture
  color: #ed357a
.philosophy
  color: #d46013

/* ANCHORS */ 

a
  border-bottom: 2px solid #d2d2ca
  color: #000
  text-decoration: none

a:hover
  border-bottom: 2px solid #999
  color: #000

span a
  +opacity(0.3)

span a:hover
  +opacity(1)
  +transition-duration(1.2s)