%footer
  %p
    Powered by
    %a{ :href => "http://nestacms.com" } Nesta
    and hosted by
    = succeed "." do
      %a{ :href => "http://www.heroku.com/" } Heroku
    Webfonts by
    %a{ :href => "http://www.google.com/webfonts" } Google
    and
    = succeed "." do
      %a{ :href => "http://www.typekit.com/" } Typekit
    %br
    Source code available for review and feedback on
    %a{ :href => "https://github.com/jenmyers/Jenmyers.net" } Github.