%footer
  %ul  
    %li
      %a.dot{ :href => "http://feeds.feedburner.com/jenmyers" }
        %img(src="/base/images/rss.png" alt="RSS")
    %li
      %a.dot{ :href => "http://pinterest.com/deliberatepixel/" }
        %img(src="/base/images/pinterest.png" alt="Pinterest")
    %li
      %a.dot{ :href => "http://pinboard.in/u:jenmyers/" }
        %img(src="/base/images/pinboard.png" alt="Pinboard")
    %li
      %a.dot{ :href => "http://forrst.com/people/jenmyers" }
        %img(src="/base/images/forrst.png" alt="Forrst")
    %li
      %a.dot{ :href => "http://www.github.com/jenmyers" }
        %img(src="/base/images/github.png" alt="Github")
    %li
      %a.dot{ :href => "http://jenmyers.tumblr.com" }
        %img(src="/base/images/tumblr.png" alt="Tumblr")
    %li
      %a.dot{ :href => "http://www.twitter.com/antiheroine" }
        %img(src="/base/images/twitter.png" alt="Twitter")