%footer
  %p
    Powered by
    %a{ :href => "http://nestacms.com" } Nesta
    and hosted by
    = succeed "." do
      %a{ :href => "http://www.heroku.com/" } Heroku
    Source code available for review and feedback on
    = succeed "." do
      %a{ :href => "https://github.com/jenmyers/Jenmyers.net" } Github